*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.css-b62m3t-container{
  width: 65%;
}

.css-1mi3hag-control{
  width: 100%;
}

.css-sl4pg4-control{
  width: 30% !important;
}

.btnNormal{
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

p{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: gray;
}

p > strong{
  font-size: 20px !important;
  color: #fff;
}

ul li{
  color: gray;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  list-style: circle !important;
}

li strong {
  color: #fff;
}

pre{
  background-color: #121214 !important;
  padding: 10px;
  color: #fff;
  overflow: auto;
}

pre::-webkit-scrollbar{
 display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}